$red: #e74c3c;

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000C1D;
}
.canvas {
  outline: #e74c3c;
  height: 100vh;
  width: 100vw;

  canvas {
    margin-top: 10px;
    margin-left: 10px;
  }
}

.contain {
  position: absolute;
  bottom: 200px;
  margin-right: 200px;
  margin-left: 650px;
}

.over {
  font-size: 0.7rem;
  color: #e74c3c;
  position: fixed;
  top: 445px;
  left: 240px;
}

.title{
  color: #ffd700;
  margin-left: 97px;
}

button {
  left: 120px;
  top: 410px;
  position: fixed;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $red;
  border-radius: 0.6em;
  color: $red;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 0.5rem;
  line-height: 1;
  margin: 30px 20px 20px 20px;
  padding: 1em 2em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px $red inset;

    &:hover,
    &:focus {
      color: #fff;
      outline: 0;
    }
  }
}
